:root{
    .limelight-regular {
        font-family: "Limelight", sans-serif;
        font-weight: 400;
        font-style: normal;
}
    .bebas-neue-regular {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
}
    --cham: #F6EFD2;
    --pred: #E43636;
    --beige: #E2DDB4;

}

*::selection{
    background-color: var(--pred);
    color: white;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

main{    
    background-color: var(--cham);
    position: static;
}

#fullheader{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(16px);
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100px;
    z-index: 1;
    padding: 24px;
    box-sizing: border-box;

    #title{
        grid-column: 1;
        grid-row: 1;
        font-family: "Limelight", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: var(--pred);
        margin: 0;
        align-items: center;
        display: flex;
    }

    nav{
        height: 100%;
        grid-column: 2;
        grid-row: 1;
    }
    #navmenu{
        margin: 0px;
        height: 100%;
        display: flex;
        list-style-type: none;
        justify-content: right;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        padding: 0;

    .navbutton{
        background-color: var(--beige);
        padding: 16px 32px;
        border-radius: 1ch;
        border: none;
        color: var(--pred);
        text-decoration: none;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 3ch;
        border: 4px solid transparent;
        transition: border 300ms;
    }

    .navbutton:hover {
        border: 4px solid var(--pred);
    }
    
    .currentbutton{
        background-color: var(--pred);
        color:var(--beige);
        padding: 16px 32px;
        border-radius: 1ch;
        border: none;
        text-decoration: none;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 3ch;
        border: 4px solid var(--pred);
        transition: border 300ms;
    }

    .currentbutton:hover{
        border: 4px solid var(--beige);
    }
}

h1{
    margin: 0;
}

}

/* Hero Banner CSS */
.hero_image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/avengers_hero_banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: static;
    overflow: auto;
    top: 0px;
}

.hero_text{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
} 

#wrapper {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.home_review {
    display: grid;
    grid-template-columns: 4 400px;
    gap: 24px;
    margin: 20px;
    margin-bottom: 80px;
}

.poster {
    width: 200px;
    border-radius: 12px;
    height: fit-content;
    object-fit: contain;
    grid-column: 1 / 2;
}

.quotes {
    width: 40px;
    object-fit: contain;
    height: fit-content;
    grid-column: 2;
}

.quotes_r {
    width: 40px;
    object-fit: contain;
    height: fit-content;
    transform: scale(-1);
    grid-column: 4;
}

.review-text {
    margin: 0;
    grid-column: 3;
}

@media (max-width: 800px){
    .home_review {
        grid-template-rows: fit-content() fit-content();
        grid-template-columns: auto auto auto;
    }

    .poster {
        grid-row: 1;
        grid-column: 1 / span 4; /* will fix later */
    }

    .quotes {
        grid-row: 2;
        grid-column: 1;
    }

    .quotes_r {
        grid-row: 2;
        grid-column: 4;
    }

    .review-text {
        grid-row: 2;
        grid-column: 2;
        width: 105%;
    }
}