:root{
    .limelight-regular {
        font-family: "Limelight", sans-serif;
        font-weight: 400;
        font-style: normal;
}
    .bebas-neue-regular {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
}
    .roboto-normal {
        font-family: "Roboto", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
}
    --cham: #F6EFD2;
    --pred: #E43636;
    --beige: #E2DDB4;

}

*::selection{
    background-color: var(--pred);
    color: white;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

html { 
    overscroll-behavior: none;
}

main{    
    background-color: var(--cham);
    position: static;
}

#fullheader{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(16px);
    position: fixed;
    top: 0;
    width: 100vw;
    height: 120px;
    z-index: 1;
    padding: 0 18px 0 24px;
    box-sizing: border-box;

    #title{
        grid-column: 1;
        grid-row: 1;
        font-family: "Limelight", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 3ch;
        color: var(--pred);
        margin: 0;
        align-items: center;
        display: flex;
    }

    nav{
        height: 100%;
        grid-column: 2;
        grid-row: 1;
    }
    
    #navmenu{
        margin: 0px;
        height: 100%;
        display: flex;
        list-style-type: none;
        justify-content: right;
        align-items: center;
        flex-wrap: wrap;
        gap: 18px;
        padding: 0;

    a {
        padding: 21px 4ch;
        border-radius: 1ch;
        border: none;
        text-decoration: none;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 3ch;
        border: 4px solid transparent;
        transition-duration: 300ms;
        border-radius: 1ch;
        margin-top: auto;
        margin-bottom: auto;
    }

    a:hover {
        border-radius: 2ch;
    }
    
    .navbutton{
        background-color: var(--beige);
        color: var(--pred);
    }

    .navbutton:hover {
        border: 4px solid var(--pred);
    }
    
    .currentbutton{
        background-color: var(--pred);
        color:var(--beige);
        border: 4px solid var(--pred);
    }

    .currentbutton:hover{
        border: 4px solid var(--beige);
    }
}

h1{
    margin: 0;
}

}

/* Hero Banner CSS */
.hero_image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/avengers_hero_banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: static;
    overflow: auto;
    top: 0px;
}

.hero_text{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4ch;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
        h1{
            font-size: 6ch;
        }
} 


#wrapper {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6ch;
}

.home_review {
    display: grid;
    grid-template-columns: 4 400px;
    gap: 24px;
    margin: 20px;
    margin-bottom: 80px;
}

.poster {
    width: 200px;
    border-radius: 12px;
    height: fit-content;
    object-fit: contain;
    grid-column: 1 / 2;
}

.quotes {
    width: 40px;
    object-fit: contain;
    height: fit-content;
    grid-column: 2;
}

.quotes_r {
    width: 40px;
    object-fit: contain;
    height: fit-content;
    transform: scale(-1);
    grid-column: 4;
}

.review-text {
    margin: 0;
    grid-column: 3;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

@media (max-width: 800px){
    .home_review {
        grid-template-rows: fit-content() fit-content();
        grid-template-columns: auto auto auto;
    }

    .poster {
        grid-row: 1;
        grid-column: 1 / span 4; /* will fix later */
    }

    .quotes {
        grid-row: 2;
        grid-column: 1;
    }

    .quotes_r {
        grid-row: 2;
        grid-column: 4;
    }

    .review-text {
        grid-row: 2;
        grid-column: 2;
        width: 105%;
    }
}

/* Posters for Grid */
.reviewposter img {
    width: 20vw;
    justify-content: center;
    
}

.reviewposter {
    grid-row: 1 / span 2;
}

/* Grid containers */
.container {
    display: grid;
    grid-auto-rows: 500px;
    justify-content: space-between;

}

.nested-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 50px auto;
    justify-content: start;

}

.film-title {
    grid-column: 2 / span 3;
}

.star_rating {
    display: flex;
    gap: 5px
}
.star_rating figure {
    margin: 0;
}

.star_rating img {
    width: 30px;
    height: 30px;

}

blockquote {
border:none;
font-family: "Bebas Neue", sans-serif;
margin-bottom:-30px;
position: relative; 
max-width: 400px; 
grid-row: 2;
grid-column: 2 / span 1;
    
}

blockquote p {
    font-size:21px;
}

blockquote p:before { 
    content: "\201C";
    font-weight: bold;
    font-size:100px;
    color:#000000;
    position: absolute; 
    top: -0.2em;
    left: -0.5em; 
    font-family: 'Georgia'; 
} 
blockquote p:after { 
    content: "\201D";
    font-weight: bold;
    font-size:100px;
    color:#000000;
    position: absolute; 
    bottom: 1em;
    right: 1em; 
    font-family: 'Georgia'; 
}




/* Testing */
.anchor_poster {
    width: 200px;
    height: 250px;
    border: 3px solid transparent;
    transition: border-color 0.3s ease-in-out;

}

.anchor_poster:hover {
    border-color:#E43636


}

#anchor_container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding-top: 30px;


}