:root {
    /* Pre-set colour values for easy and consistent design */
    --cham: #F6EFD2;
    --pred: #E43636;
    --beige: #E2DDB4;
    --cadyellow: #FDDA0D;
    --strawberry: #e38e8e;
}

/* Controls colour of selected text */
*::selection {
    background-color: var(--pred);
    color: var(--cham);
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

/* Makes overscroll look better than white with the dark hero image and red footer */
html {
    background-color: black;
}

main {
    background-color: var(--cham);
    position: static;
}

/* Header */
#fullheader {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(16px);
    position: fixed;
    top: 0;
    width: 100vw;
    height: 120px;
    z-index: 1;
    padding: 0 1em 0 2em;
    box-sizing: border-box;

    #logo{
        grid-column: 1;
        grid-row: 1;
        background-image: url(../images/title.svg);
        align-items: center;
        display: flex;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        max-width: 30em;
    }

    nav {
        margin-left: 10px;
        height: 100%;
        grid-column: 2;
        grid-row: 1;
    }

    #navmenu {
        margin: 0px;
        height: 100%;
        display: flex;
        list-style-type: none;
        justify-content: right;
        align-items: center;
        gap: 1rem;
        padding: 0;

        a {
            padding: 1em 1.75em;
            border-radius: 1ch;
            border: none;
            text-decoration: none;
            font-family: "Bebas Neue", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: min(3.5vw, 3ch);
            border: 4px solid transparent;
            transition-duration: 300ms;
            border-radius: 1ch;
            margin-top: auto;
            margin-bottom: auto;

        }

        a:hover {
            border-radius: 2ch;
        }

        .navbutton {
            background-color: var(--beige);
            color: var(--pred);
        }

        .navbutton:hover {
            border: 4px solid var(--pred);
        }

        .currentbutton {
            background-color: var(--pred);
            color: var(--beige);
            border: 4px solid var(--pred);
        }

        .currentbutton:hover {
            border: 4px solid var(--beige);
        }

        .currentbutton::selection {
            background-color: var(--cham);
            color: var(--pred);
        }
    }

    h1 {
        margin: 0;
    }

}

/* Hero Banner CSS */
.hero_image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/avengers_hero_banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: static;
    overflow: auto;
    top: 0px;
}

.hero_text {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4ch;
    text-align: center;
    position: absolute;
    top: 8em;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

    h1 {
        font-size: 6ch;
    }
}

/* Home Page */
#home-wrapper {
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6ch;
}

.home_review {
    display: flex;
    gap: 24px;
    margin: 1em;
    margin-bottom: 80px;
}

.poster {
    width: 200px;
    border-radius: 12px;
    height: fit-content;
    object-fit: contain;
    user-select: none;
}

.quotes {
    width: 2.5rem;
    object-fit: contain;
    height: fit-content;
}

.quotes_r {
    width: 2.5rem;
    object-fit: contain;
    height: fit-content;
    transform: scale(-1);
}

.review-text {
    height: 100%;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


#maintext {
    margin-left: auto;
    margin-right: auto;
    max-width: 90rem;
    padding: 1em;
}

#footcontact {
    padding: 0 5%;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--cham)
}

/* Footer */
footer {
    background-color: var(--pred);
    padding-bottom: 1em;

    ul {
        text-decoration: none;
        color: var(--cham);
        display: flex;
        justify-content: space-between;
        padding: 0 5%;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        list-style-type: none;

        a {
            text-decoration: none;
            color: var(--cham);
            transition-duration: 400ms;
        }

        a:hover {
            color: var(--cadyellow);
        }
    }

    p {
        margin-top: 2em;
        padding: 0 5%;
        font-size: 0.75em;
        font-family: "Roboto", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
        color: var(--strawberry)
    }

    a::selection,
    p::selection,
    h2::selection {
        background-color: var(--cham);
        color: var(--pred);
    }

}

/* Posters for Grid */
.reviewposter img {
    width: 15rem;
    justify-content: center;
    border-radius: 1em;
}

.reviewposter {
    margin: 0 2.5rem 0 2.5rem;
    grid-row: 1 / span 2;
    align-self: start;
    height: 100%;
}

.container {
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
}

.nested-container {
    display: grid;
    grid-template-columns: auto auto auto 320px;
    grid-template-rows: 3em 1fr;
    justify-content: start;
    row-gap: 0px;
    height: 75%;
    margin: 0 2em 4em 0;
}

.film_title {
    max-width: 400px;
    display: flex;
    grid-column: 2 / span 2;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    align-items: center;
    margin: 0;
    margin-right: 1em;
}

.card {
    width: 20em;
    height: 3em;
    perspective: 1000px;
    cursor: pointer;
    grid-column: 4;
    grid-row: 1;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}

.card-front {
    background: #E43636;
    border: 1px solid #e5e7eb;
}

.card-back {
    background: black;
    color: #E43636;
    transform: rotateY(180deg);
}


.star_rating {
    display: flex;
    gap: 2em;
    margin-top: 0;
    justify-content: center;

}

.star_rating figure {
    margin: 0;

}

.star_rating img {
    width: 30px;
    height: 30px;

}

.rating_title {

    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4ch;
    justify-content: center;
    text-align: center;
    color: var(--beige);
}


blockquote {
    border: none;
    font-family: "Roboto", sans-serif;
    position: relative;
    max-width: 1250px;
    height: fit-content;
    grid-row: 2;
    grid-column: 2 / span 3;
    margin: 0;
}

/* Anchor Links */
.anchor_poster {
    width: calc(100% - 6px);
    border: 3px solid transparent;
    transition: border-color 0.3s ease-in-out;
    border-radius: 1em;
}

#anchor_container_centre {
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
}

input:hover,
textarea:hover {
    background: #c5bfa8
}

.anchor_poster:hover {
    border-color: #E43636
}


#anchor_container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    align-items: center;
    gap: 2rem;
    box-sizing: border-box;
}

#anchor_container_wrapper {
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: var(--beige);
    margin-top: 9rem;
    margin-bottom: 3.5rem;
    padding: 2rem;
    border-radius: 1.35rem;
}

#OneBattle,
#FantasticFour,
#Tron,
#MinusOne,
#NowYouSee {
    text-align: center;
    scroll-margin-top: 150px;
}

/* contact.css changes here */

#contactmain {
    position: relative;
    text-align: center;
    padding-bottom: 128px;
    height: 100%;
}

#form {
    display: flex;
    flex-direction: column;
    position: relative;
    align-content: center;
    justify-content: center;
    max-width: 500px;
    margin: 0px auto 0px auto;
    padding-top: 15px;
    gap: 1em;
}

input {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 1em;

    background: transparent;
    outline: none;
    border: solid 2px #e43636;

    transition: all 0.3s ease-in-out;
}

textarea {
    padding: 1em;
    box-sizing: border-box;
    width: 100%;
    height: 110px;

    background: transparent;
    outline: none;

    border: solid 2px #e43636;

    transition: all 0.3s ease-in-out;

    margin: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    font-variation-settings:
        "wdth" 100;
    resize: vertical;
}

#contactmain h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
}

#submit {
    width: 100%;

    padding: 0;

    outline: none;
    cursor: pointer;

    border: solid 2px #e43636;
}

#submit:hover {
    background: #c5bfa8;
}

form input,
textarea {
    border-radius: 1em;
}

/* Media queries for responsive design */
@media (max-width: 800px) {

    .quotes,
    .quotes_r {
        display: none;
    }

    .reviewposter,
    .film_title,
    .nested-container,
    .card,
    blockquote {
        grid-column: span 1 !important;
        grid-row: auto !important;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .nested-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 1rem;
    }

    .reviewposter {
        align-self: center;
    }

    .reviewposter img {
        width: 60vw;
        max-width: 300px;
        margin-bottom: 1em;
    }

    .film_title {
        text-align: center;
        font-size: 1.8rem;
    }

    blockquote {
        max-width: 100%;
        margin: 0 1em;
        text-align: left;
    }

    .card {
        width: 15em;
        height: 3.5em;
        margin: 1em auto;
        justify-content: left;
    }

    .star_rating {
        justify-content: center;
        gap: 0.6em;
    }

    #anchor_container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        justify-items: center;
        gap: 1.5em;
    }

    #logo{
        margin-top: 0.75em;
        margin-bottom: 0.75em;
    }
}

@media (max-width: 700px) {
    #fullheader {
        #logo{
            background-image: url(../images/favicon.svg);
            max-width: 5.5em;
            min-width: 50px;
            background-position: center;
        }
    }
}

@media (max-width: 500px) {
    .poster {
        width: 100%;
    }

    .home_review {
        padding: 1em;
        background-color: var(--beige);
        border-radius: 20px;
        flex-direction: column;
        margin-bottom: 1em;
    }

    .review-text {
        width: 100%;
    }

    #home-wrapper {
        margin-top: 1em;
    }

    #anchor_container {
        grid-template-columns: auto auto;
        /* grid-template-rows: 20rem 20rem 20rem; */
        gap: 1.5em;
    }
}

@media (max-width: 450px) {
    #fullheader #navmenu a {
        padding: 0.25em;
        font-size: 1.4em;
    }

    #fullheader {
        height: 70px;
        padding-left: 0.6em;
    }

    #anchor_container {
        gap: 1rem;
    }

    #anchor_container_wrapper {
        margin-left: 1rem;
        margin-right: 1rem;
        background-color: var(--beige);
        margin-top: 5rem;
        margin-bottom: 3.5rem;
        padding: 1rem;
        border-radius: 1.35rem;
    }
}

@media (max-width: 1050px) {
    .reviewposter {
        grid-row: 2;
        margin-top: 1rem;
    }

    .film_title {
        grid-column: 1 / span 3;
        margin-left: 2.5rem;
    }
}